<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiperDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZVSwiper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA9C82FC1A75D4D10095D8CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9C83071A75D4D10095D8CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9C832C1A75D73E0095D8CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9C83471A75D73E0095D8CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
